/node_modules/
.DS_STORE
.elasticbeanstalk

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

#https cert stuff
client-1.local.crt
client-1.local.csr
client-1.local.key
rootSSL.key
rootSSL.pem
rootSSL.srl