@import 'https://fonts.googleapis.com/css?family=Princess+Sofia';
@import 'https://fonts.googleapis.com/css?family=Rokkitt';
@import './theme.scss';

body {
	background-color: $background-color;
	margin: 0;
	overflow: auto;
	height: 100%;
	line-height: 0 !important;
}

h1 {
	font-size: 50px !important;
	line-height: 50px;
	padding-top: 12.5px !important;
	color: $accent-color-cream;
	margin: 0 !important;
	font-family: 'Princess Sofia';
}

section {
	line-height: 100%;
	text-align: center;
	div {
		padding: 20px;
	}
}

p, a, li {
	font-family: 'Rokkitt';
}

html {
    position: absolute;
    height: 100%;
    overflow: hidden;
}
