@import 'https://fonts.googleapis.com/css?family=Princess+Sofia';
@import 'https://fonts.googleapis.com/css?family=Rokkitt';
@import './theme.scss';

body {
	background-color: $tertiary-color !important;
	margin: 0;
	overflow: auto;
	height: 100%;
	line-height: 0 !important;
	font-family: 'Rokkit' !important;
}

h1 {
	font-family: 'Princess Sofia';
}

section {
	line-height: 100%;
	text-align: center;
}

p, a, li {
	font-family: 'Rokkitt';
}

html {
    position: absolute;
    height: 100%;
    overflow: hidden;
}

.background {
	opacity: .2 !important;
}

@media screen and (min-width : 320px) and (max-width : 450px) { 
	#sapper {
		width: 100vw;
		height: 100vh;
	}
}

@media screen and (min-width : 451px) {
	#sapper {
	width: calc(100vw - 18px);
	height: 100vh;
	}
}