@import 'https://fonts.googleapis.com/css?family=Princess+Sofia';

:global(h1) {
	font-family: 'Princess Sofia';
	font-weight: 100;
	text-align: center;
	font-size: 42px;
}

body {
	background-color: #fff9ea;
	margin: 0;
}
